.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
}

.table > div {
  display: flex;
  align-items: center;
  height: 72px;
  border-bottom: 1px solid #eee;
  color: #505050;
  line-height: 24px;
}

.table div div {
  display: flex;
  flex-direction: row;
}

.table .table_header {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  color: #757575;
  height: 48px;
  width: 100%;
}

.table > div > div:first-child {
  display: flex;
  box-sizing: border-box;
  width: 75%;
}

.table > div > div:last-child {
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  width: 25%;
}

.table .table_header div div {
  padding: 0 24px;
}

.table .table_header div {
  display: flex;
  flex-direction: row;
}

.table .table_header div:first-child div:first-child {
  display: flex;
  box-sizing: border-box;
  width: 26%;
}

.table .table_header div:first-child div:nth-child(2) {
  display: flex;
  box-sizing: border-box;
  width: 42%;
}

.table .table_header div:first-child div:last-child {
  display: flex;
  box-sizing: border-box;
  width: 32%;
  margin-right: 0;
}

.arrow-on {
  display: block;
  padding-left: 10px;
}

.arrow-off {
  display: none;
}
